body {
  padding: 0;
  margin: 0;
}

#myCanvas {
  /*background-color: #eee;*/
  background-image: url('./images/v4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  cursor: crosshair;
}
